body {
  background-image: url('./assets/pokemon-unite_3840x2160_xtrafondos.com.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.mainContainer {
  height: 85vh;
}

.secondStage {
  margin-top: 5%;
  background-color: transparent;
}

.imageContainer img {
  height: 100%;
  width: 20%;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fcf1fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 7px solid #c8a543;
  background: linear-gradient(to top, #dad5e1 7px, transparent 1px),
    linear-gradient(to bottom, #dad5e1 7px, transparent 1px),
    linear-gradient(to left, #dad5e1 7px, transparent 1px),
    linear-gradient(to right, #dad5e1 7px, transparent 1px);
  background-color: rgba(42, 78, 101, 0.5);
  width: 50%;
  position: relative;
  left: 480px;
}

.startGameButton {
  font-size: 1rem;
  background-color: #80ccf9;
  background-image: linear-gradient(to top, #80ccf9 0%, #6992f3 100%);
  padding: 5px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: relative;
  outline: none;
  margin-bottom: 1vh;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.startGameButton a {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.startGameButton:hover {
  background: #6992f3;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translate(-2px, -2px);
}

@media screen and (max-width: 600px) {
  .imageContainer img {
    height: 100%;
    width: 80%;
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .textContainer {
    left: 10px;
    width: 56.2vh;
  }

  .secondStage {
    margin-top: 25%;
  }
}
